<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>
<br>

<body>
    <form>
        <div class="d-flex justify-content-center align-self-center">
            <!-- use later -->
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                    <h4>Ingrese su documento de identidad</h4>
                </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" minlength="13">
                <div id="emailHelp" class="form-text">Nota: Recuerde que su documento de identidad tiene 13 digitos.
                </div>
                <div class="btn"><a type="submit" href="/votar" class="btn btn-success">Ingresar</a></div>
            </div>
        </div>
    </form>
</body>

</html>