<div class="d-flex justify-content-center align-self-center">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header bg-dark text-white">
                <div class="card-body">

                    <form method="POST" action="/insertar">


                        <div class="mb-3">
                            <label for="cedula" class="form-label">Ingrese su cédula de identidad</label>
                            <input type="text" class="form-control" id="cedula" name="Cedula" value="" required>
                            <div class="form-text">Nota: Recuerde que su documento de identidad tiene 13
                                digitos.
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success">Ingresar al sistema</button>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>