<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>

<body>
    <section class="d-flex justify-content-center align-self-center">
        <br>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Presidente</h5>
                <a href="/presidentes" class="btn btn-dark">Votar</a>
            </div>

        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">VicePresidente</h5>
                <a href="/vice" class="btn btn-dark">Votar</a>
            </div>

        </div>



    </section>
    <br>
    <section class="d-flex justify-content-center align-self-center">

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Alcalde</h5>
                <a href="/alcalde" class="btn btn-dark">Votar</a>
            </div>

        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Diputado</h5>
                <a href="/diputado" class="btn btn-dark">Votar</a>
            </div>

        </div>
    </section>
</body>

</html>