<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>

<body>
    <div class="card text-center" style="width: 18rem;">
        <img src="https://i1.sndcdn.com/avatars-000196113278-93p2dw-t500x500.jpg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">Ninguno</h5>
            <a href="#!" class="btn btn-primary">Votar</a>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <img src="https://pbs.twimg.com/media/EiDSx6nWAAABeeh.jpg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">Danilo Medina</h5>
            <p class="card-text">PLD</p>
            <p class="card-text">Presidente</p>
            <a href="#!" class="btn btn-primary">Votar</a>
        </div>
    </div>


</body>

</html>