
  <div class="d-flex justify-content-center align-self-center">
    <div class="card">
      <div class="card-header bg-dark text-white">
        Credenciales de administrador
      </div>
      <div class="card-body">

        <form method="POST" action="/entrar">
          <div class="mb-3">
            <label for="user" class="form-label">User:</label>
            <input type="text" class="form-control" id="user" name="User" value="" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="Password" value="" />
          </div>


          <input type="hidden" name="loginId" value="">


          <button type="submit" class="btn btn-primary">Entrar</button>

        </form>
        {{#unless correct}}
        <div class="alert alert-danger" role="alert">
          Usuario o contraseña incorrectos
        </div>
        {{else}}
        {{/unless}}
      </div>
    </div>
  </div>